<div class="row">
    <h2>Filter Search Results</h2>
    Query: <input id="filter-search-results-query" type="text" value="" />
    Extra query: <input id="filter-search-results-extraquery" type="text" value="" />
    Color: <input id="filter-search-results-color" type="text" value="" />
    <input id="filter-search-results" type="button" value="Execute" data-action="@Url.Action("FilterSearchResults")" />
</div>