<div class="row">
    <h2>Get Specific Assets</h2>
    Id: <input id="get-specific-asset-id" type="text" value=""/>
    <input id="get-specific-asset" type="button" value="Execute" data-action="@Url.Action("GetSpecificAsset")" />
</div>