<div class="row">
    <h2>Search Through Assets</h2>
    Query: <input id="search-through-assets-query" type="text" value="" />
    <input id="search-through-assets" type="button" value="Execute" data-action="@Url.Action("SearchThroughAssets")" />
</div>