<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Segona.NET Sample</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    @RenderBody()
</div>
    <script src="~/js/jquery.js"></script>
    @RenderSection("Scripts")
</body>
</html>
